{% extends 'job/base.html' %}
{% load static %}
{% block body %}
	<!-- banner -->
	<div class="inner_page_agile">
		<h3>Post A Job</h3>
		<p>You Can Post A Job Here</p>


	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="{% url 'index' %}">Home</a><span>|</span></li>
				<li><a href="{% url 'jobs' %}" >Find a Job </a><span>|</span></li>
				<li>Post A Job</li>
			</ul>
		</div>
	</div>
	<!--//w3_short-->
	<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle">Details of Job </h3>
			</div>
<hr/>
			<div class="container">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
  <form action="{% url 'addpost' %}" method="post">
	  {% csrf_token %}
	   <div class="form-group">
  <label for="sel1">Posted By:</label>
  <select class="form-control" id="sel1" name="postedby" required>
      <option>Select</option>
	  <option>Company</option>
    <option>Consultant</option>

  </select>
</div>

    <div class="form-group" >
      <label for="Company">Company Name:</label>
      <input type="text" class="form-control" id="Company" placeholder="Enter Company Name" name="Company" required>
    </div>

    <div class="form-group">
    <label for="Location">Location:</label>
     <textarea class="form-control" rows="5" id="Location" name="Location"  placeholder="Enter Location Of Compny" required></textarea>
      </div>
    <div class="form-group">
      <label for="post">Post Name:</label>
      <input type="text" class="form-control" id="post" placeholder="Enter Post" name="Post" required>
    </div>
	  	   <div class="form-group">
  <label for="royal">Minimum Experience:</label>
  <select class="form-control" id="royal" name="Experience"  required>
      <option>Select</option>
	  <option> 0-1 year</option>
    <option> 1-2 year</option>
    <option> 2-3 year</option>
	  <option> 3-4 year</option>
	  <option> 5 year above</option>
  </select>
</div>
	  	  	   <div class="form-group">
  <label for="qul">Minimum Qulification:</label>
  <select class="form-control" id="qul" name="Qulification"  required>
      <option>Select</option>
	  <option> 10TH</option>
    <option>12TH</option>
    <option> B.C.A</option>
	  <option>M.C.A</option>
	  <option>B.B.A</option>
	  <option>M.B.A</option>
	  <option>B.Tech</option>
	  <option>M.Tech</option>
	  <option>Other</option>
  </select>
</div>
	  	  	  	   <div class="form-group">
  <label for="sal">Salary Range:</label>
  <select class="form-control" id="sal" name="Salary"  required>
      <option>Select</option>
	  <option> 10000-20000</option>
    <option>20000-30000</option>
    <option> 30000-40000</option>
	  <option>40000-50000</option>
	  <option>50000-60000</option>
	  <option>60000-70000</option>
	  <option>70000-80000</option>
	  <option>80000-90000</option>
	  <option>90000-100000</option>
	  <option>1 lack above</option>
  </select>
</div>
    <div class="form-group">
    <label for="Dis">Job Description:</label>
     <textarea class="form-control" rows="8" id="Dis" name="Description"  placeholder="Enter Job Description Of Compny" required></textarea>
      </div>
	  <div class="form-group">
      <label for="con">Contact Person:</label>
      <input type="text" class="form-control" id="con" placeholder="Enter The Name Of Contact Person" name="Contact" required>
    </div>
	  <div class="form-group">
      <label for="no">Mobile Number:</label>
      <input type="number" class="form-control" id="no" placeholder="Enter Mobile no" name="mobile" maxlength="10" required>
    </div>
	  <div class="form-group">
      <label for="dat">Post Date:</label>
      <input type="date" class="form-control" id="dat"  name="Postdate" required>
    </div>
	  	   <div class="form-group">
  <label for="status">Current Status:</label>
  <select class="form-control" id="status" name="status" required>
      <option>Select</option>
	  <option>Open</option>
    <option>Close</option>

  </select>
</div>
	  	   <div class="form-group">
  <label for="emp">Employement Type:</label>
  <select class="form-control" id="emp" name="type"  required>
      <option>Select</option>
	  <option>Full Time</option>
    <option>Part Time</option>

  </select>
</div>
	  <input type="submit" class="btn btn-default" value="Submit"/>
  </form>
				</div>
				<div class="col-sm-3"></div>


</div>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //inner_content -->
	{% endblock %}